[Desktop Entry]
Type=Service
Name=KFileMetaDataFreetypePlugin
GenericName=Freetype
Comment=Extracts metadata from fonts
MimeType=font/ttf;application/x-font-ttf;application/x-font-type1;font/otf;application/x-font-otf;application/x-font-afm;application/x-font-ttx;font/woff
X-KDE-Library=kfilemetadata_freetype
X-KDE-ServiceTypes=KFileMetaData/Plugin
InitialPreference=1
