[Desktop Entry]
Type=Service
Name=KFileMetaDataTagLibPlugin
GenericName=TagLib
Comment=Extracts metadata from audio files
X-KDE-Library=kfilemetadata_taglib
X-KDE-ServiceTypes=KFileMetaData/Plugin
InitialPreference=1
