[Desktop Entry]
Type=Service
Name=KFileMetaDataTagLibPlugin
GenericName=TagLib
Comment=Extracts metadata from audio files
MimeType=audio/x-ape;application/vnd.ms-asf;video/x-ms-asf;audio/x-flac;audio/flac;audio/x-flac+ogg;audio/x-oggflac;audio/x-it;audio/x-mod;audio/mp4;video/mp4;audio/x-musepack;audio/mpeg;audio/x-mpeg;video/mpeg;video/x-mpeg;audio/ogg;audio/x-ogg;video/ogg;video/x-ogg;audio/x-vorbis+ogg;audio/x-flac+ogg;audio/x-oggflac;audio/x-opus+ogg;video/x-theora+ogg;video/x-ogm+ogg;audio/x-riff;audio/x-s3m;audio/x-tta;audio/wav;audio/vnd.wave;audio/x-wav;audio/x-wavpack;audio/x-xm
X-KDE-Library=kfilemetadata_taglib
X-KDE-ServiceTypes=KFileMetaData/Plugin
X-KDE-MetadataKeys=http://www.semanticdesktop.org/ontologies/2007/01/19/nie#title,http://www.semanticdesktop.org/ontologies/2007/01/19/nie#comment,http://www.semanticdesktop.org/ontologies/2007/05/10/nexif#artist,http://www.semanticdesktop.org/ontologies/2009/02/19/nmm#musicAlbum,http://www.semanticdesktop.org/ontologies/2009/02/19/nmm#genre,http://www.semanticdesktop.org/ontologies/2009/02/19/nmm#trackNumber,http://www.semanticdesktop.org/ontologies/2007/05/10/nid3#originalReleaseYear,http://www.semanticdesktop.org/ontologies/2007/03/22/nfo#duration,http://www.semanticdesktop.org/ontologies/2007/03/22/nfo#averageBitrate,http://www.semanticdesktop.org/ontologies/2007/03/22/nfo#sampleRate,http://www.semanticdesktop.org/ontologies/2007/03/22/nfo#channels
InitialPreference=2
