[Desktop Entry]
Type=Service
Name=KFileMetaDataFFmpegPlugin
X-KDE-Library=kfilemetadata_ffmpeg
X-KDE-ServiceTypes=KFileMetaData/Plugin
InitialPreference=1
