[Desktop Entry]
Type=Service
Name=KFileMetaDataEPubPlugin
GenericName=EPUB
Comment=Extracts metadata from e-book documents
MimeType=application/epub+zip
X-KDE-Library=kfilemetadata_epub
X-KDE-ServiceTypes=KFileMetaData/Plugin
InitialPreference=1
