[Desktop Entry]
Type=Service
Name=KFileMetaDataTagLibPlugin
GenericName=TagLib metadata extractor
X-KDE-Library=kfilemetadata_taglib
X-KDE-ServiceTypes=KFileMetaData/Plugin
InitialPreference=1
